<div class="container center jumbotron">
  <h1>▲ロゴ▲</h1>
  <p>ついつい呟いちゃおう</p>
  <%= link_to "さぁ行こう", signup_path, class: "btn btn-primary" %>
  <%= image_tag("hanemaru.jpg", alt: "hanemaru logo") %>
</div>